hr {
  border-color: #85C1E9!important;
}

#footer {
  background: url('../img/footer-bg.png') no-repeat center center;
  background-size: cover;
}

.text-enquiry {
  color: black;
}

.email {
  color: #00018d;
}

#illustration_link {
  color: #4172ff;
}

#design_theory_text {
  color: #404040;
}

#girl-img {
  max-width: 75%;
  float: right;
}

body {
  background-color: #ffffff;
  padding-top: 0;
}

#hero {
  background-color: #000000;
  background-size: 100%;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
