hr {
  border-color: #85C1E9!important;
}

#footer {
  background: url('../img/footer-bg.png') no-repeat center center;
  background-size: cover;
}

.text-bottom {
  color: black;
}

.email {
  color: #00018d;
}

#illustration_link {
  color: #4172ff;
}

#design_text {
  color: #404040;
}

#girl-img {
  /*background: url('../img/girl-upside-down.png') no-repeat right top;*/
  /*background-size: cover;*/
  max-width: 100%;
}

body {
  background-color: #ffffff;
  padding-top: 0;
}

#hero {
  background-color: #000000;
  background-size: 100%;
}

